@font-face {
  font-family: earwig_factory;
  src: url(../font/earwig_factory_rg.otf);
  /* font-family: HEAVYHEA;
  src: url(../font/HEAVYHEA.TTF);
  font-family: Expose-Regular;
  src: url(../font/Expose-Regular.otf);
  font-family: Persona5MenuFontPrototype-Regular;
  src: url(../font/Persona5MenuFontPrototype-Regular.ttf); */
}

.navBar {
  font-family: "earwig_factory";
  font-size: 50px;
  padding-top: 3rem;
  text-shadow: 2px 2px 10px black, -2px -2px 10px black;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

ul > li {
  display: inline-block;
  position: relative;
}

ul > li:hover {
  transform: rotate(11deg);
  animation: tiltBounce 0.15s ease;
  animation-fill-mode: forwards;
}

ul > li:nth-child(even):hover {
  transform: rotate(-6deg);
  animation: tiltBounceAlt 0.15s ease;
  animation-fill-mode: forwards;
}

a {
  text-decoration: none;
}

a:visited,
a:active,
a:link {
  color: white;
}

/* .test {
  border: 5px solid white;
  animation-name: appear;
  animation-duration: 5s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

@keyframes tiltBounce {
  0% {
    transform: scale(1) rotate(-7deg);
  }
  50% {
    transform: scale(1.5) rotate(-7deg);
  }
  100% {
    transform: scale(1.15) rotate(-7deg);
  }
}

@keyframes tiltBounceAlt {
  0% {
    transform: scale(1) rotate(7deg);
  }
  50% {
    transform: scale(1.5) rotate(7deg);
  }
  100% {
    transform: scale(1.15) rotate(7deg);
  }
}

@keyframes test {
  100% {
    transform: scale(0.5);
  }
}
