.selector {
  left: 200px;
  position: absolute;
  top: 100px;
  transform: translate(-50%, -50%);
  transition: transform 50ms;
  height: 100%;
  width: 20%;
  z-index: -1;
}

.red {
  fill: #ff0022;
}

.blue {
  fill: #1cfeff;
  mix-blend-mode: screen;
}
