.skill.active ~ .indicator {
  left: 260px;
}

.skillPage {
  width: 100%;
  height: 100%;
  position: relative;
}

.skillPage > .title {
  font-family: Markin_LT_Ultra_Bold;
  font-size: 100px;
  position: absolute;
  transform: rotate(-30deg);
  left: 10px;
  top: 10px;
}

/* .skillPage ~ .dialogueWrapper > .dialogueImg > .content::before {
  content: ;
} */

.skillBG {
  margin: 0;
  padding: 0;
  width: 2000px;
  height: 1500px;
  background-image: url("../img/win.png");
  position: absolute;
  top: -200px;
  left: -150px;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -1; */
}

.logoWrapper {
  height: 100%;
  width: 100%;
}

.html5Logo {
  width: 150px;
  height: auto;
  position: absolute;
  right: 620px;
  top: 220px;
  animation-delay: 1s;
}

.css3Logo {
  width: 110px;
  height: auto;
  position: absolute;
  right: 500px;
  top: 290px;
  animation-delay: 1.2s;
}

.jsLogo,
.javaLogo {
  width: 100px;
  height: auto;
}

.jsLogo {
  position: absolute;
  right: 330px;
  top: 470px;
  animation-delay: 1.6s;
}
.javaLogo {
  position: absolute;
  right: 620px;
  top: 750px;
  animation-delay: 2.2s;
}

.bsLogo,
.reactLogo,
.gitLogo {
  width: 130px;
  height: auto;
}
.bsLogo {
  position: absolute;
  right: 640px;
  top: 470px;
  animation-delay: 1.8s;
}
.reactLogo {
  position: absolute;
  right: 930px;
  top: 500px;
  animation-delay: 2s;
}

.gitLogo {
  position: absolute;
  right: 180px;
  top: 380px;
  animation-delay: 1.4s;
}

.html5,
.css3,
.js,
.bs,
.react,
.git,
.java {
  max-width: 100%;
  border-radius: 0.5rem;
}

.html5:hover,
.css3:hover,
.js:hover,
.bs:hover,
.react:hover,
.git:hover,
.java:hover {
  animation: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
